<html>
    <head>
        <title>Word Bucket</title>
    </head>
    <body>
        <h1>Word Bucket</h1>
        {% if user.is_authenticated %}
          Hi {{ user.username }}!
          <p><a href="{% url 'wordbucket:logout' %}">logout</a></p>
        {% else %}
          You are not logged in
          <a href="{% url 'wordbucket:login' %}">LOGIN</a>
          <br>
        {% endif %}

        <h4>{{ d_message }}</h4>
        <form method="POST" id="form1" action="/{{ word.id }}/add_explanation">
            <input name="explanation_input" id="id_new_eplanation" placeholder="Add explanation" />
            {% csrf_token %}
        </form>
        <button type="submit" form="form1" value="Submit">Submit</button>

        <h2>{{ word }}</h2>

        <table id="id_explanation_table">
            {% for explanation in word.explanation_set.all %}
                <tr>
                    <td>explanation {{ forloop.counter }} : {{ explanation.explanation_text }}
                    {% for vote in explanation.like_and_dislike_set.all %}<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        {{ vote.votes_like }} &nbsp;<a href="{% url 'wordbucket:like' explanation.id %}">LIKE</a>
                        &nbsp; {{ vote.votes_dislike }} &nbsp;<a href="{% url 'wordbucket:dislike' explanation.id %}">DISLIKE</a>
                    {% endfor %}<br><br>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <br>
        {% if user.is_authenticated %}
        <a href="{% url 'wordbucket:export' word.id %}">export</a><br><br>
        {% endif %}
        <a href="{% url 'wordbucket:home' %}">HOME</a>
    </body>
</html>
