<html>
    <head>
        <title>Word Bucket</title>
    </head>
    <body>
        <h1>Word Bucket</h1>
        {% if user.is_authenticated %}
          Hi {{ user.username }}!
          <p><a id="logout" href="{% url 'wordbucket:logout' %}">logout</a></p>
        {% else %}
          You are not logged in
          <a id="login" href="{% url 'wordbucket:login' %}">LOGIN</a> or <a id="signup" href="{% url 'wordbucket:signup' %}">SIGNUP</a>
          <br>
        {% endif %}

        <br>browse<br>
            {% for alphabet in alphabets %}
                <a href="{% url 'wordbucket:search' alphabet %}">{{ alphabet }}</a>&nbsp;
            {% endfor %}
        <br>
        <h4>{{ d_message }}</h4>
        <form method="POST" id="form1" action="/add_word">
            <input name="word_input" id="id_new_word" placeholder="Add new word" />
            <input name="explanation_input" id="id_new_eplanation" placeholder="Add explanation" />
            {% csrf_token %}
        </form>
        <button type="submit" form="form1" value="Submit">Submit</button>

        <table id="id_word_table">
            {% for word in words %}
                <tr><td id="word.word"><a href="{% url 'wordbucket:detail' word.id %}">{{ word.word }}</a></td></tr>
            {% endfor %}
        </table>
        <br>
        <form action = "/search/byword" id="form_search" method="POST">
            <input tpye="text" id="id_search" name = "search_input" placeholder="Search word" />
            <input type = "submit" form="form_search" value = "Search">
            {% csrf_token %}
        </form>
        
    </body>
</html>
